html,
body {
    font-family: Roboto, Helvetica, Arial;
    background-color: #000000;
}

h2 {
    color: #fff;
    margin: 22px 0 0 0;
    padding: 10px;
}

input {
    padding: 0.8em;
    margin: 20px 0 0 0;
    color: #999;
    display: inline-block;
    font-size: 1.3em;
    width: 50%;
}

input[placeholder] {
    font-size: 14px;
}


/* header search */

.header {
    position: fixed;
    top: 0;
    padding: 0 0 24px 0;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


/* images home */

.container {
    margin: 80px 0 0 0;
}

#images {
    text-align: center;
    margin: 16px 0;
    padding: 24px;
    margin-top: 24px;
}

#images img {
    width: 125px;
    height: 125px;
    padding: 6px;
}

#images img:hover {
    cursor: pointer;
}


/* modal */

.modal {
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(34, 34, 68, .9);
    box-sizing: content-box;
    visibility: hidden;
    opacity: 0;
    transition: all .12s;
    z-index: 99;
}

.modal.visible {
    visibility: visible;
    opacity: 1;
}

.modal * {
    box-sizing: inherit
}

.modal .panel {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #999;
    padding: 50px 0;
    transform: translateY(-25%);
    transition: all .10s;
}

.modal.nofooter .panel {
    padding: 50px 0 0 0;
}

.modal.visible .panel {
    transform: none;
}

.modal .panel .close {
    position: absolute;
    top: .25em;
    right: .75em;
    cursor: pointer;
    color: #fff;
    font-size: 42px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.modal .panel .content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    max-height: 100%;
    overflow: auto;
    padding: 1em;
    box-sizing: border-box;
}

.modal .panel span {
    cursor: pointer;
    color: rgb(165, 164, 164);
    font-size: 52px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.modal .panel .back {
    position: absolute;
    top: 50vh;
    left: .75em;
}

.modal .panel .next {
    position: absolute;
    top: 50vh;
    right: .75em;
}


/* loader spinner */

.loader {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}